.vscode
.metals
.bloop
target
projet/target
Old_tests.txt
project/metals.sbt
project/project/metals.sbt


######## Clickhouse #########

data/
logs/
tmp/

config.xml
users.xml

status

####### TO COMMENT LATER ######

user_files/
user_scripts/
store/
metadata_dropped/
flags/
dictionaries_lib/
preprocessed_configs/
metadata/
format_schemas
clickhouse
uuid
Justfile

#############################
.bsp/sbt.json
